*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container{
    background: #000;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
.logo{
    width: 40px;
}
ul li{
    display: inline-block;

}
ul li a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;

}
ul li :hover{
    color:rgb(255, 255, 0);
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.content .text{
    width: 40%;
    color: #fff;
}
.content .text h2{
    font-size: 40px;
    text-transform: uppercase;
}
.content .text p{
    font-size: 18px;
    margin: 20px 0;
}
.content .text a{
    color: #000;
    text-decoration: none;
    background: #fff;
    padding: 8px 15px;
    border-radius: 20px;
}
.content .image{
    width: 30%;
}
.content .image img{
    width: 180px;
}
.content .icons{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50px);
}
.icons img{
    width: 40px;
    transition: 0.5s;
    cursor: pointer;
}

.icons a :hover{
    width: 50px;
    transform: scale(1.2);
}
#price{
    color: #fff;
    font-size: 30px;
    text-align: right;
    margin-right: 350px;   
    
    }
.free{
    color:white;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    margin-right: 400px;
}